/* ============================================
   PROJECT-SPECIFIC STYLES
   Custom styles for this presentation
   ============================================ */
   
   
   
.scheideweg .slide-background-content {
  filter: sepia(40%) blur(2px);
}


#huggingface {                                                                
  position: relative;  /* add this */                                         
  height: 100vh;                                                              
  width: 100%;                                                                
  
}                                                                             
                                                                              
#huggingface a {                                                              
  position: absolute;                                                         
  inset: 0;                                                                   
} 


.layer-box{
  padding: 20px;
  border-radius: 5px;
  width: 50%;
}


/* Three Layers boxes */
.layer-box-blue {
  background: #e1f5ff;
  border: 2px solid #01579b;
  color: black;
}

.layer-box-orange {
  background: #fff3e0;
  border: 2px solid #e65100;
  margin-top: 10px;
  color: black;
}

.layer-box-purple {
  background: #f3e5f5;
  border: 2px solid #9963dbff;
  margin-top: 10px;
  color: black;
}

/* Recipe card styling */
.recipe {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 0.8em;
  line-height: 1;
}

/* Two-column list layout with aligned columns */
.two-col-list li {
  display: flex;
  gap: 2rem;
}

.two-col-list ul{
  margin: 0pt !important;
}

.two-col-list li span:first-child {
  flex: 0 0 auto; /* fixed width for first column */
  text-align: left;
}

.two-col-list li span:last-child {
  flex: 1 1 auto;
  text-align: right;
}


