/* ============================================
   PROJECT-SPECIFIC STYLES
   Custom styles for this presentation
   ============================================ */
   

#rata{
  border-radius: 50%;
}


/* Profile layout */
.profile-layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: 60vh;
  place-content: center;
}

#portrait{
  font-size: x-large;
}
   
.scheideweg .slide-background-content {
  filter: sepia(40%) blur(5px);
}


#huggingface {                                                                
  position: relative;  /* add this */                                         
  height: 100vh;                                                              
  width: 100%;                                                                
  
}                                                                             
                                                                              
#huggingface a {                                                              
  position: absolute;                                                         
  inset: 0;                                                                   
} 


.layer-box{
  padding: 20px;
  border-radius: 5px;
  width: 50%;
}


/* Three Layers boxes */
.layer-box-blue {
  background: #e1f5ff;
  border: 2px solid #01579b;
  color: black;
}

.layer-box-orange {
  background: #fff3e0;
  border: 2px solid #e65100;
  margin-top: 10px;
  color: black;
}

.layer-box-purple {
  background: #f3e5f5;
  border: 2px solid #9963dbff;
  margin-top: 10px;
  color: black;
}

/* Recipe card styling */
.recipe {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 0.8em;
  line-height: 1;
}

/* Two-column list layout with aligned columns */
.two-col-list li {
  display: flex;
  gap: 2rem;
}

.two-col-list ul{
  margin: 0pt !important;
}

.two-col-list li span:first-child {
  flex: 0 0 auto; /* fixed width for first column */
  text-align: left;
}

.two-col-list li span:last-child {
  flex: 1 1 auto;
  text-align: right;
}


/* in your styles.css or embedded in quarto.yml */

.code-copy-outer-scaffold .sourceCode{
    border: none !important;
    background: #1e1e1e !important;
}
.terminal {
  background: #1e1e1e;
  padding: 0.5em;
  border-radius: 0.2em;

}


